/*
Author: Nicolas Devesa
Year: 2020
Author URI: http://www.ndevesa.com/
LinkedIn: http://www.linkedin.com/in/nicolasdevesa/
*/
@import 'fonts.css';
body{
    font-family: 'PublicSans', sans-serif;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    margin: 0 auto;
    padding: 0;
}
ul{
    list-style: none;
    padding: 0px;
}
h1{
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 0;
}
p{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
}
a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}
.cta-default{
    background: rgba(70,236,115,1);
    background: -moz-linear-gradient(left, rgba(70,236,115,1) 0%, rgba(43,183,218,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(70,236,115,1)), color-stop(100%, rgba(43,183,218,1)));
    background: -webkit-linear-gradient(left, rgba(70,236,115,1) 0%, rgba(43,183,218,1) 100%);
    background: -o-linear-gradient(left, rgba(70,236,115,1) 0%, rgba(43,183,218,1) 100%);
    background: -ms-linear-gradient(left, rgba(70,236,115,1) 0%, rgba(43,183,218,1) 100%);
    background: linear-gradient(to right, rgba(70,236,115,1) 0%, rgba(43,183,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46ec73', endColorstr='#2bb7da', GradientType=1 );
    color: #fff;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 30px;
    text-transform: capitalize;
    transition: opacity .2s ease-out;
}
.cta-default:hover{
    opacity: .6;   
}
#close-menu{
    display: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    transition: all .8s ease-in-out;
}
header #menu{
    transition: all .2s ease-in-out;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
}
header nav ul li{
    text-transform: capitalize;
    color: hsl(233, 8%, 62%);
    margin: 0px 20px;
    cursor: pointer;
}
header nav ul li:after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 15px;
    border-radius: 10px;
    background: rgba(70,236,115,1);
    background: -moz-linear-gradient(left, rgba(70,236,115,1) 0%, rgba(43,183,218,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(70,236,115,1)), color-stop(100%, rgba(43,183,218,1)));
    background: -webkit-linear-gradient(left, rgba(70,236,115,1) 0%, rgba(43,183,218,1) 100%);
    background: -o-linear-gradient(left, rgba(70,236,115,1) 0%, rgba(43,183,218,1) 100%);
    background: -ms-linear-gradient(left, rgba(70,236,115,1) 0%, rgba(43,183,218,1) 100%);
    background: linear-gradient(to right, rgba(70,236,115,1) 0%, rgba(43,183,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46ec73', endColorstr='#2bb7da', GradientType=1 );
    transition: .2s ease-in-out;
    opacity: 0;
}
header nav ul li:hover:after{
    opacity: 1;
}
#main{
    margin: 0px 100px;
}
#hero{
    min-height: 500px;
    background: url('../img/bg-intro-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -150px bottom 50px;
    position: relative;
    transition: none;
}
#hero .caption{
    position: absolute;
    top: 30%;
    left: 0%;
    transform: translate(0%, -30%);
    margin: 0px 100px;
}
#hero .caption p{
    margin-bottom: 50px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: hsl(233, 26%, 24%);
    color: white;
}
footer .footer-logo{
    margin-bottom: 50px;
    filter: invert(1);
}
footer .social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
}
footer .social-media li{
    margin: 0 5px;
}
footer .social-media li a img{
    transition: opacity .2s ease-in-out;
}
footer .social-media li a img:hover{
    opacity: .6;
}
footer .column .links{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .column .links li a{
    font-size: 14px;
    color: white;
    text-transform: capitalize;
    transition: all .2s ease-in-out;
}
footer .column .links li a:hover{
    color: hsl(136, 65%, 51%);
}
footer .column .cta-default{
    display: block;
    margin-bottom: 50px;
    text-align: center;
}
footer .column .legend{
    display: block;
    color: #cccccc;
    text-transform: capitalize;
}

#why-choose .features, #latest-articles .articles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0px;
}
#why-choose .features .feature h3{
    margin: 20px 0px;
    font-weight: 500;
    text-transform: capitalize;
}
#why-choose .features .feature p{
    color: #9698a6;
    line-height: 1.4;
}
#latest-articles .articles .article{
    padding-right: 20px;
}
#latest-articles .articles .article img{
    max-width: 100%;
}
#latest-articles .articles .article .description{
    padding: 20px;
}
#latest-articles .articles .article .description small{
    font-size: 14px;
    text-transform: capitalize;
    color: #9698a6;
}
#latest-articles .articles .article .description h2{
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
#latest-articles .articles .article .description h2:hover{
    color: hsl(136, 65%, 51%);
}

#latest-articles .articles .article .description p{
    font-size: 16px;
    line-height: 1.4;
    color: #9698a6;
}


@media (max-width: 768px){
    .hide-mobile{
        display: none;
    }
    #main{
        margin: 0px 40px;
    }
    header{
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    #hero{
        min-height: 450px;
        background: none;
    }
    #hero .caption{
        margin: 0px 40px;
        text-align: center;
    }
    header .cta-default{
        display: none;
    }
    header #menu{
        position: absolute;
        top: 10%;
        left: 5%;
        right: 5%;
        background-color: #fff;
        -webkit-box-shadow: 0px 9px 33px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 9px 33px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 9px 33px 0px rgba(0,0,0,0.3);
        border-radius: 10px;
        z-index: 999;
    }
    header #open-menu{
        display: block;
        z-index: 999999999999999999999;
    }
    header #menu{
        opacity: 0;
    }
    header #open-menu:hover ~ #menu{
        opacity: 1;
    }
    header nav ul{
        margin: 20px 0px;
        flex-direction: column;
    }
    header nav ul li{
        text-align: center;
        margin: 15px 0px;
        font-size: 22px;
    }
    header nav ul li:after{
        display: none;
    }
    footer{
        flex-direction: column;
        padding: 30px 40px;
    }
    footer .column{
        text-align: center;
    }
    footer .column .cta-default{
        margin: 20px auto;
    }
    footer .column .links{
        margin: 10px 0px;
    }
    footer .column .links li a{
        font-size: 16px;
        line-height: 2;
    }
    footer .footer-logo{
        margin-bottom: 30px;
        margin: 20px auto;
        width: 50%;
    }
    footer .social-media{
        justify-content: center;
        margin: 20px 0px;
    }

    h1{
        font-size: 30px;
        font-weight: 500;
    }
    #why-choose{
        text-align: center;
    }
    #why-choose .features, #latest-articles .articles{
        flex-direction: column;
        margin: 20px 0px;
    }
    #why-choose .features .feature{
        padding: 0;
        margin: 20px 0px;
    }
    #latest-articles .articles .article{
        margin: 20px 0px;
    }
    #latest-articles .articles .article .description{
        padding: 10px 20px;
    }
    
}